*{
    box-sizing: border-box;
}

body{
    padding-top: 100px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: sans-serif;
}

.time-section{
    text-align: center;
    font-size: 30px;
}

.time-group{
    display: flex;
    gap: 10px;
}

.time-segment{
    display: block;
    font-size: 100px;
    font-weight: 900;
    width: 100px;
}

.segment-display{
    position: relative;
    height: 100%;
}

.segment-display-top,
.segment-display-bottom {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative;
}

.segment-display-top{
    background-color: #111;
    color: #eee;
    line-height: 1.5;
}

.segment-display-bottom{
    background-color: #333;
    color: #fff;
    line-height: 0;
}

.segment-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    perspective: 400px;
}

.segment-overlay-top,
.segment-overlay-bottom{
   position: absolute;
   overflow: hidden;
   text-align: center;
   width: 100%;
   height: 50%;
}

.segment-overlay-top {
    top: 0;
    background-color: #111;
    color: #eee;
    line-height: 1.5;
    transform-origin: bottom;
}

.segment-overlay-bottom{
    bottom: 0;
    line-height: 0;
    color: #fff;
    background-color: #333;
    border-top: 2px solid black;
    transform-origin: top;

}

.segment-overlay.flip .segment-overlay-top {
    animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay-bottom {
    animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }
    50%, 100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%, 50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}